<html>
<head></head>
<body>
<br><br><br><br><br><br><br><br>
<ul>
	<li>Company Name</li>
<% result.forEach(function(result){%>
	<li><%=result.name %> </li>
<%});%>
</ul>
<h1>ADD NEW COMPANY FROM HERE</h1>
<form action = "/users/company" method = "post">
<input type="text" placeholder="company id here" name="_id"><br><br>
<input type="text" placeholder="name" name="name"><br><br>
<input type="submit" value="submit"><br>
</form>
</body>
</html>