<html>
<head></head>
<body>
<br><br><br><br><br><br><br><br>
<a href="/users/all">SHOW ALL EMPLOYEES</a>
<br><br>
<a href="/users/company">Show company</a>
<form action = "/users/register" method = "post">
<input type="text" placeholder="name" name="name"><br><br>
<input type="email" placeholder="email" name="email"><br><br>
<input type="text" placeholder="company id here" name="comp_id"><br><br>
<input type="text" placeholder="address" name="addr"><br><br>
<input type="password" placeholder="Enter your password here..." name="pin"><br><br>
<input type="submit" value="submit"><br>
</form>
</body>
</html>