<html>
<head></head>
<body>
<br><br><br><br><br><br><br><br>
<ul>
	<li>Vendor Name</li>
<% result.forEach(function(result){%>
	<li><%=result.name %> </li>
<%});%>
</ul>
<h1>ADD NEW VENDOR FROM HERE</h1>
<form action = "/users/vendor" method = "post">
<input type="text" placeholder="name" name="name"><br><br>
<input type="number" placeholder="balance" name="balance"><br><br>
<input type="submit" value="submit"><br>
</form>
</body>
</html>